html body {
  font-family: 'PT Sans', sans-serif;
  height: 100rem;
  color: rgba(0, 0, 0, 0.87);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karma', serif;
}

h1 {
  font-weight: 300;
}

.jumbotron {
  background-color: #c5c1c0;
  color: #0a1612;
}

header hr {
  width: 60%;
  border-top: solid 2px #c5c1c0;
}

header .content {
  width: 66vw;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
}

header .content p:last-child {
  margin-bottom: 0;
}

html code,
input.form-control {
  font-family: 'Overpass Mono', monospace;
}

.card-inverse pre {
  color: #fff;
  margin-bottom: 0;
}

.card-success .validation-result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

